<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="content" class="container">
  <!-- Begin .page-heading -->
  <div class="page-heading">
    <div class="media clearfix">
      <div class="media-left pr30">
        <a href="#">
          <img class="media-object mw150" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
        </a>
      </div>
      <div class="media-body va-m">
        <h2 class="media-heading">

        </h2>
        <p class="lead"></p>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading" style="text-align: left">

          <span class=""><mat-icon>call</mat-icon> Contact information</span>
        </div>
        <div class="panel-body pn">
          <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
            <tbody>
            <tr>
              <td>
                <mat-icon>smartphone</mat-icon>
              </td>
              <td>Mobile number</td>
              <td>{{currentUser?.phoneNumber}}</td>
            </tr>
           <!-- <tr>
              <td>
                <mat-icon>home</mat-icon>
              </td>
              <td>Address</td>
              <td>Odense</td>
            </tr> -->
            <tr>
              <td>
                <mat-icon>email</mat-icon>
              </td>
              <td>Email</td>
              <td>{{currentUser?.email}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
    <div class="col-md-8">

      <div class="tab-block">

        <div class="tab-content p30" style="height: 730px;">
          <div id="tab1" class="tab-pane active">

           <user-information></user-information>


          </div>

        </div>
      </div>
    </div>
  </div>
</section>
