<h1 class="mat-display-2, center">Log for failed services</h1>
<ng-container>
  <div>
    <synchronization-error-list></synchronization-error-list>
  </div>
  <h2 class=".mat-title, center">Backed up entities on the Orchestrator service</h2>
  <div class="row col-12">
    <span class="col-6">
      <failed-synchronization-resident-list></failed-synchronization-resident-list>
    </span>
    <span class="col-6">
     <failed-synchronization-employee-list></failed-synchronization-employee-list>
    </span>
  </div>

</ng-container>

