<div class="custom-container">
  <h1> Resident </h1>
  <table mat-table [dataSource]="sagaResidents" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="sagaId">
    <th mat-header-cell *matHeaderCellDef class="space"> Saga ID </th>
    <td mat-cell *matCellDef="let element" class="space">
      {{element.sagaId}}
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="space"> ID </th>
    <td mat-cell *matCellDef="let element" class="space">
      {{element.residentDto.id}}
    </td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef class="space">Firstname </th>
    <td mat-cell *matCellDef="let element" class="space"> {{element.residentDto.firstname}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef class="space">Lastname </th>
    <td mat-cell *matCellDef="let element" class="space"> {{element.residentDto.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef class="space" >Department</th>
    <td mat-cell *matCellDef="let element" class="space"> {{element.residentDto.department?.departmentName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef class="space">Email</th>
    <td mat-cell *matCellDef="let element" class="space"> {{element.residentDto.email}} </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef class="space">Phone number</th>
    <td mat-cell *matCellDef="let element" class="space"> {{element.residentDto.phoneNumber}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
