<mat-toolbar color="primary">
  <span routerLink="" class="clickable">POC Sensum <mat-icon>home</mat-icon></span>
  <span class="spacer"></span>

  <button *ngIf="loggedIn.getValue() && accessRightService.hasAccessRight(['admin'])" routerLink ="roles"
          [matTooltip]="'See roles'"
          mat-flat-button
          style="background: white; margin: 0px 10px">
    See roles
  </button>

  <button *ngIf="loggedIn.getValue()"  routerLink ="department"
           [matTooltip]="'See departments'"
           mat-flat-button
           style="background: white; margin: 0px 10px">
    See departments
  </button>

  <add-user-dialog-button *ngIf="loggedIn.getValue() && accessRightService.hasAccessRight(['create'])"></add-user-dialog-button>

  <button *ngIf="loggedIn.getValue() && accessRightService.hasAccessRight(['admin'])" mat-icon-button routerLink="/synchronization-log">
    <mat-icon [matTooltip]="'See synchronization log'">sync_problem</mat-icon>
  </button>

  <button mat-icon-button routerLink="/citizen">
    <mat-icon *ngIf="loggedIn.getValue()"  [matTooltip]="'See citizens'">groups</mat-icon>
  </button>

  <button mat-icon-button routerLink="/employee">
    <mat-icon *ngIf="loggedIn.getValue()" [matTooltip]="'See list of employees'">supervisor_account</mat-icon>
  </button>

  <td-user-profile *ngIf="loggedIn.getValue(); else login" [matTooltip]="'Profile'" [name]="currentUser?.username" [email]="currentUser?.email">
    <ng-container td-user-info-list>
      <mat-list-item>
        <mat-icon matListAvatar class="icons">account_balance</mat-icon>
        <span matLine>{{currentUser?.department?.departmentName}}</span>
      </mat-list-item>
    </ng-container>
    <ng-container td-user-action-list>
      <button mat-list-item routerLink="user/logged-in">
        <mat-icon matListAvatar class="icons">face</mat-icon>
        <span matListAvatar></span>
        <span matLine [matTooltip]="'Show profile'">Go to profile</span>
      </button>
      <button mat-list-item (click)="logout()" >
        <mat-icon matListAvatar class="icons">power_settings_new</mat-icon>
        <span matListAvatar></span>
        <span matLine [matTooltip]="'Log out'">Sign out</span>
      </button>
    </ng-container>
  </td-user-profile>
</mat-toolbar>

<ng-template #login>
  <button routerLink ="/login"
          [matTooltip]="'Login'"
          mat-flat-button
          style="background: white; margin: 0px 10px">
    Login
  </button>
</ng-template>
