<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="" class="clickable">Da Frontend <mat-icon>cake</mat-icon></span>
  <span class="spacer"></span>
  <button routerLink ="department"
           [matTooltip]="'See departments'"
           mat-flat-button
           style="background: white; margin: 0px 10px">
    See departments
  </button>


  <add-user-dialog-button></add-user-dialog-button>

  <button mat-icon-button routerLink="/synchronization-log">
    <mat-icon [matTooltip]="'See synchronization log'">sync_problem</mat-icon>
  </button>

  <button mat-icon-button routerLink="/citizen">
    <mat-icon [matTooltip]="'See citizens'">groups</mat-icon>
  </button>
  <td-user-profile [matTooltip]="'Profile'" name="daffy duck" email="daffy.duck@teradata.com">
    <ng-container td-user-info-list>
      <mat-list-item>
        <mat-icon matListAvatar>account_balance</mat-icon>
        <span matLine>default</span>
        <span matLine>organization</span>
      </mat-list-item>
    </ng-container>
    <ng-container td-user-action-list>
      <button mat-list-item>
        <span matListAvatar></span>
        <span matLine routerLink="user/logged-in">Go to profile</span>
      </button>
      <button mat-list-item>
        <span matListAvatar></span>
        <span matLine>Sign out</span>
      </button>
    </ng-container>
  </td-user-profile>
</mat-toolbar>
