
<router-outlet></router-outlet>
<general-navbar></general-navbar>
<!--<td-layout-nav toolbarTitle="title" logo="logo" icon="icon" color="primary" navigationRoute="/">
  <button mat-icon-button td-menu-button>
    <mat-icon>menu</mat-icon>
  </button>

  <div td-toolbar-content>
    <td-user-profile name="daffy duck" email="daffy.duck@teradata.com">
      <ng-container td-user-info-list>
        <mat-list-item>
          <mat-icon matListAvatar>account_balance</mat-icon>
          <span matLine>default</span>
          <span matLine>organization</span>
        </mat-list-item>
      </ng-container>
      <ng-container td-user-action-list>
        <button mat-list-item>
          <span matListAvatar></span>
          <span matLine>Sign out</span>
        </button>
      </ng-container>
    </td-user-profile>
  </div>  </td-layout-nav> -->

 <!-- <create-citizen-form></create-citizen-form>
  <create-citizen-dialog></create-citizen-dialog>-->
  <citizen-list></citizen-list>

  <td-layout-footer color="primary">
  </td-layout-footer>




